<!doctype html>
<title>Staff Location</title>
<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/normalize.css">
<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/load.css') }}">
<style>
  ul { margin: 0; padding: 0; display: flex; list-style-type: none; }
  li > * { padding: 1em; }
  li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
  form { display: flex; }
  label > input { width: 3em; }
  form > * { padding-right: 5em; }
  body { max-width: 50em; }
</style>
<ul>
  <li><span>Remote server:</span>
  <li class="{% if js == 'server1' %}active{% endif %}">
    <a href="{{ url_for('index', js='server1') }}">Server #1</a>
  <li class="{% if js == 'server2' %}active{% endif %}">
    <a href="{{ url_for('index', js='server2') }}">Server #2</a>
</ul>
<div class="message" id="message">
  <h4>It allows to show location of each user on your remote server.</h4>
</div>
<hr>
<form id="calc">
  <input type="submit" value="Get">
</form>
<span><span id="result"></span></span>
{% block script %}{% endblock %}
