{% extends 'base.html' %}

{% block script %}
  <script>
    function addSubmit() {
      var span = document.getElementById('result');
      span.innerText = '';
      const calc = document.getElementById('calc');
      const parent = calc.parentNode
      parent.removeChild(calc)
      let div = document.createElement('div')
      div.innerHTML = '<div id="loader" class="loader" style="text-align:center"></div>';
      parent.append(div)
      var request = new XMLHttpRequest();
      request.addEventListener('load', addShow);
      request.open('POST', {{ url_for('add')|tojson }});
      request.send();
    }

    function addShow() {
      var data = JSON.parse(this.responseText);
      if (data != null) {
          const loader = document.getElementById('loader');
          const parent = loader.parentNode
          parent.removeChild(loader)
      }
      var span = document.getElementById('result');
      span.innerText = data.result;
      myReset();
    }

    function myReset() {
        const message = document.getElementById('message');
        const parent = message.parentNode
        let form = document.createElement('form')
        form.id = 'calc'
        form.innerHTML = '<input type="submit" value="Get">';
        form.addEventListener('submit', addSubmit);
        parent.append(form)
    }

    var form = document.getElementById('calc');
    form.addEventListener('submit', addSubmit);

  </script>
{% endblock %}
